{% extends "base.html" %}
{% load static%}
{% block title %}
SIGNUP
{% endblock title %}
{% block content %}

    {% include "_pre_loader.html" %}
    {% include "header.html" %}
    <main>
        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Register</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Hero Area End-->
        <!--================login_part Area =================-->
        <section class="login_part section_padding ">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="login_part_form">
                            <div class="login_part_form_iner">
                                <h3>Welcome! <br>
                                    Please Sign Up now</h3>

                                <form class="row contact_form"  method="post" id="signupform">
                                    <div class="col-md-12 form-group p_star">
                                        <input type="text" class="form-control" id="username" name="username" required />
                                        <span class="placeholder" data-placeholder="User Name"></span>
                                    </div>
                                    <div class="col-md-6 form-group p_star">
                                        <input type="text" class="form-control" id="firstname" name="name" required />
                                        <span class="placeholder" data-placeholder="First name"></span>
                                    </div>
                                    <div class="col-md-6 form-group p_star">
                                        <input type="text" class="form-control" id="lastname" name="name" required />
                                        <span class="placeholder" data-placeholder="Last name"></span>
                                    </div>
                                    <div class="col-md-6 form-group p_star">
                                        <input type="text" class="form-control" id="phone" name="phone" required />
                                    <span class="placeholder" data-placeholder="Phone number"></span>
                                    </div>
                                    <div class="col-md-6 form-group p_star">
                                        <input type="text" class="form-control" id="email" name="email" required />
                                        <span class="placeholder" data-placeholder="Email Address"></span>
                                    </div>
                                    <div class="col-md-6 form-group p_star">
                                        <input type="password" class="form-control" id="password" name="password" required />
                                        <span class="placeholder" data-placeholder="PassWord"></span>
                                    </div>
                                    <div class="col-md-6 form-group p_star">
                                        <input type="password" class="form-control" id="password2" name="password2" required />
                                        <span class="placeholder" data-placeholder="Repeat your password"></span>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <div class="creat_account">
                                            <button type="submit" value="submit" class="btn_1 my-3">
                                                SIGN UP 
                                            </button>
                                        </div>
                                    </div>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================login_part end =================-->
    </main>
    <script src={% static "js/signup.js" %}></script>
    {% include "footer.html" %}
    
{% endblock content %}